extends ../layouts/main_layout.pug

block title
  title Main Page

prepend content
  include ../modules/banner/banner.pug
  include ../modules/prenotation/prenot.pug
  include ../modules/why/why.pug
  include ../modules/about/about.pug
  include ../modules/team/team.pug
