section.main-banner
  .main-banner__carousel.owl-carousel
    .main-banner__carousel-item
      .container
        .main-banner__text
          h1.main-banner__title We care <span>For you</span>
          span.main-banner__subtitle Love, care and help make a difference in this world. Even a small they becomes a part of a huge change. Even a small contribu.
        .main-banner__btns
          a(href="#").btn Explore Now
          a(href="#").btn.btn--accent Booking Now
    .main-banner__carousel-item.main-banner__carousel-item--right
      .container.container--right
        .main-banner__text
          h1.main-banner__title We care <span>For you</span>
          span.main-banner__subtitle Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium natus error sit. Auteuisd irure dolor.
        .main-banner__btns
          a(href="#").btn Explore Now
          a(href="#").btn.btn--accent Booking Now
