.about
  text-align: center
  &__img
    display: block
    margin: 0 auto
  &__content
    +wrapper
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15)
    border-radius: 6px
    background-color: $main-color
    padding: 120px 0

  &__text
    margin: 65px auto 50px
    line-height: 28px
    max-width: 800px
    color: #fff
