section#about.about
  img(src="img/doctors.png", alt="Our Team").about__img
  .about__content
    header.section-header
      span.section-subtitle We Are <span class="section-subtitle__last">Medicative</span>
      h2.section-title.section-title--white A Bit About Medicative
      
    p.about__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Consectetur adipiscing elit, sed do eiusmod et dolore magna aliqua. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
    
    a(href="#").btn.btn--white Explore More
